@page "/itemscategoryby/{cid:int?}"

@using BlazorApp1.Helpers
@using BlazorApp1.ServiceInterfaces.Internal
@using BlazorApp1.DTOs
@using Newtonsoft.Json

<h3>Welcome to the Items section</h3>

<a href="@($"itemdetails")" class="btn btn-success">New Item</a>

<br />

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in modelVms)
        {
            <tr>
                <td> @item.Id</td>
                <td> @item.ItemName</td>
                <td><a href="@($"itemdetails/{item.Id}")" class="btn btn-success">Edit</a></td>
            </tr>
        }
    </tbody>
</table>


@code {

    [Inject]
    private IDataService _dataService { get; set; }

    [Parameter]
    public int? cid { get; set; }


    private IEnumerable<ItemDTO> modelVms { get; set; } = new List<ItemDTO>();


    protected async override Task OnInitializedAsync()
    {

        var message = "Could not get response from API";
        ApiResponse apiResponse;

        try
        {
            apiResponse = await _dataService.StockItems.GetItembyCategoryId(cid);

            if (apiResponse != null)
            {
                if (apiResponse.StatusCode == 200)
                {
                    modelVms = apiResponse.Data != null ?
                    JsonConvert.DeserializeObject<List<ItemDTO>>(apiResponse.Data.ToString()) : null;
                    message = $"Message: {apiResponse.Message}<br/>Description: {apiResponse.Description}";
                    // _toastr.AddSuccessToastMessage(message);
                }
                else
                {
                    message = $"Title: {apiResponse.Title}<br/>Description: {apiResponse.Description}";
                     // _toastr.AddInfoToastMessage(message);
                }
            }
            else
            {
                 // _toastr.AddInfoToastMessage(message);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);            
            throw ex;
        }
    }

}
